<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Simple Algebra Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D25635341F445BB40015B91C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25635481F445BB40015B91C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25635531F445BB40015B91C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
